@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --color-yellow: #e9aa52;
  --color-light-vermilion: #f15d51;
  --color-almost-white: #fffdfa;
  --color-silver: #c5c6ce;
  --color-gunmetal: #5e607a;
  --color-dark-space-blue: #00001a;

  --font-heading-xl: 56px;
  --font-heading-lg: 40px;
  --font-heading-md: 32px;
  --font-heading-sm: 20px;
  --font-heading-xs: 18px;
  --font-body: 15px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --animation-duration: 300ms;

  --screen-desktop: 1110px;
  --screen-mobile: 375px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* default styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-color: var(--color-almost-white);
  font-family: 'Inter', sans-serif;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}

a {
  text-decoration: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

/* main */
main {
  margin-inline: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

/* header */
.banner {
  position: sticky;
  padding-top: 1.5rem;
  margin-inline: 1rem;
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav bar */
.nav .logo > svg {
  width: 44px;
  height: 28px;
}

.nav .mobile__nav__button {
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 98;
}

.nav .mobile__nav__button .mobile__nav__open {
  width: 40px;
  height: 17px;
}

.nav .mobile__nav__close {
  display: none;
}

.nav__menu {
  display: none;
}

.mobile__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 16rem;
  min-height: 100dvh;
  background-color: var(--color-almost-white);
  transition: right 300ms ease;
}

.mobile__nav.expanded {
  right: 0;
  transition: right 300ms ease;
}

.mobile__nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100dvh;
  display: none;
  background-color: #00001a50;
}

.mobile__nav__overlay.expanded {
  display: block;
}

.mobile__nav__menu {
  margin-top: 10rem;
  margin-inline: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.mobile__nav__menu .link {
  margin: 0;
  color: var(--color-gunmetal);
  text-decoration: inherit;
}

.mobile__nav__menu .link:hover {
  color: var(--color-light-vermilion);
  transition: var(--animation-duration);
}

.page__heading {
  display: none;
}

.headline {
  margin-top: 1.5rem;
  grid-column: span 6;
}

.headline__thumbnail {
  height: 300px;
  grid-column: span 6;
}

.headline__img {
  width: 100%;
  object-fit: cover;
}

.headline__heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-dark-space-blue);
  font-size: 2.5rem;
  font-weight: var(--font-weight-extra-bold);
  line-height: 2.5rem;
}

.headline__subheading > h2 {
  margin-bottom: 1.5rem;
  color: var(--color-gunmetal);
  font-size: var(--font-body);
  font-weight: var(--font-weight-regular);
  line-height: 26px;
}

.headline__readmore {
  padding-inline: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light-vermilion);
  color: var(--color-almost-white);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  letter-spacing: 4.375px;
}

.new {
  margin-top: 4rem;
  padding: 1.5rem 1.25rem;
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-space-blue);
}

.new__heading {
  margin-block: 0;
  color: var(--color-yellow);
  font-size: var(--font-heading-md);
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
}

.new__list {
  margin-bottom: 0;
}

.new__divider {
  margin-block: 2rem;
  height: 1px;
  background-color: var(--color-gunmetal);
  border: 1px var(--color-silver);
}

.new__card__heading {
  color: var(--color-almost-white);
  font-size: var(--font-heading-sm);
  font-style: normal;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.5rem;
}

.new__card__subheading {
  color: var(--color-silver);
  font-size: var(--font-body);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 26px;
}

.topics {
  margin-top: 4rem;
  grid-column: span 6;
}

.topics__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topics__list__item {
  display: flex;
  gap: 1.5rem;
}

.topics__number {
  color: var(--color-silver);
  font-size: var(--font-heading-md);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 32px;
}

.topics__heading {
  color: var(--color-dark-space-blue);
  font-size: var(--font-heading-xs);
  font-style: normal;
  font-weight: var(--font-weight-extra-bold);
}

.topics__subheading {
  color: var(--color-gunmetal);
  font-size: var(--font-body);
  font-style: normal;
  font-weight: var(--font-weight-regular);
}

.footer {
  margin-block: 2rem;
  grid-column: span 6;
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1110px) {
  main {
    margin-inline: auto;
    margin-bottom: 0;
    max-width: var(--screen-desktop);
    grid-template-columns: repeat(12, minmax(65px, 1fr));
    gap: 1.8rem;
  }

  .banner {
    position: static;
    top: 0;
    padding-top: 6rem;
    margin-inline: auto;
    max-width: var(--screen-desktop);
    grid-column: span 12;
  }

  .nav .logo > svg {
    width: 64px;
    height: 40px;
  }

  .nav .mobile__nav__button {
    display: none;
  }

  .nav .mobile__nav {
    display: none;
  }

  .nav__menu {
    display: flex;
    gap: 2.5rem;
    font-size: var(--font-body);
    font-weight: var(--font-weight-regular);
  }

  .nav__menu .link {
    color: var(--color-gunmetal);
    text-decoration: inherit;
  }

  .nav__menu .link:hover {
    color: var(--color-light-vermilion);
    transition: color var(--animation-duration);
  }

  .headline {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 65px));
    gap: 2rem;
    grid-column: span 8;
  }

  .headline__thumbnail {
    grid-column: span 8;
  }

  .headline__heading {
    margin: 0;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-heading-xl);
    line-height: 4rem;
  }

  .headline__subheading {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 29px;
    flex-shrink: 0;
  }

  .headline__subheading > h2 {
    margin: 0;
  }

  .headline__readmore:hover {
    background-color: var(--color-dark-space-blue);
    transition: background-color var(--animation-duration);
  }

  .new {
    margin-top: 4rem;
    grid-column: span 4;
  }

  .new__list__item:hover .link .new__card__heading {
    color: var(--color-yellow);
    transition: color var(--animation-duration);
  }

  .topics {
    grid-column: span 12;
  }

  .topics__list {
    display: grid;
    grid-template-columns: repeat(12, minmax(65px, 1fr));
    gap: 1.8rem;
  }

  .topics__list__item {
    grid-column: span 4;
  }

  .topics__list__item:hover .link .topics__heading {
    color: var(--color-light-vermilion);
    transition: color var(--animation-duration);
  }

  .footer {
    grid-column: span 12;
  }
}
